{% extends 'front.html.twig' %}
{% set with_leftnav=true %}

{% block title %}
        {% if key is not empty %}
            {% if type == 'author' %}
                {% trans with { '%author%' : key } %}Music sheets from %author%{% endtrans %}
            {% elseif type == 'instrument' %}
                {% trans with { '%instrument%' : key } %}Music sheets instrument %instrument%{% endtrans %}
            {% elseif type == 'origin' %}
                {% trans with { '%origin%' : key } %}Music sheets origin %origin%{% endtrans %}
            {% else %}
                {% trans with { '%type%' : key } %}Music sheets from %type%{% endtrans %}
            {% endif %}
        {% else %}
            {% trans with { '%type%' : type|trans } %}Filter by %type%{% endtrans %}
        {% endif %}
        -
        {% trans %}Website name{% endtrans %}
{% endblock %}
{% block header %}
    <h1 class="subtitle">
        {% if key is not empty %}
            {% if type == 'author' %}
                {% trans with { '%author%' : key } %}Music sheets from %author%{% endtrans %}
            {% elseif type == 'instrument' %}
                {% trans with { '%instrument%' : key } %}Music sheets instrument %instrument%{% endtrans %}
            {% elseif type == 'origin' %}
                {% trans with { '%origin%' : key } %}Music sheets origin %origin%{% endtrans %}
            {% else %}
                {% trans with { '%type%' : key } %}Music sheets of type %type%{% endtrans %}
            {% endif %}
        {% else %}
            {% trans with { '%type%' : type|trans } %}Filter by %type%{% endtrans %}
        {% endif %}
    </h1>
{% endblock %}


{% block body %}
        {% if tag_text is not empty %}
        <p class="tag_intro">{{ tag_text.text }}</p>
        {% endif %}
        {% if key is empty %}
        <p class="advice">{% trans %}Select a category to view the music sheets.{% endtrans %}</p>
        {% else %}
        {% endif %}
        {% include 'front_partitura/list.html.twig' %}
{% endblock %}
