{% extends 'front.html.twig' %}

{% block title %}
    {% trans %}Website name{% endtrans %}
    -
    {% trans %}All the music sheets you are searching for{% endtrans %}
{% endblock %}

{% block header %}
<h1 class="subtitle">{% trans with { '%contact_link%' : 'mailto:admin@partiturak.eus' } %}welcome_title{% endtrans %}</h1>
{% endblock %}

{% block body %}

<div class="frontend">

    <div class="welcome_message">{% trans %}welcome_message{% endtrans %}
    <br>
    <a class="btn" href="{{ path('front_partitura_create') }}">{% trans %}Upload new music sheet{% endtrans %}</a>
    </div>

    <h2>{% trans %}Last musicsheets{% endtrans %}</h2>
    {% include 'front_partitura/list.html.twig' with {  } %}
    <div class="recommendations_cta">
        <a class="btn" href="{{ path('search_partitura') }}">
            {% trans %}View all musicsheets{% endtrans %}
        </a>
    </div>

    {% if popular_authors is defined %}
    <h2>{% trans %}Known authors{% endtrans %}</h2>
        <ul class="tag_list thumblist">
            {% for data in popular_authors %}
            {% if data.tag.name is not null %}
            <li>
                <a class="" href="{{ path('by_author', { key: data.tag.name }) }}">
                    {% if data.tag.image is not empty and data.tag.getType != 'type'  %}
                        <div class="tag_image" style="--image:url({{ vich_uploader_asset(data.tag,'imageFile') }})"></div>
                    {% else %}
                    {% endif %}
                    <div class="tag_name btn {{ data.tag.getType }} ">{{ data.tag.name }} {{ data.tag.partituras is defined ? '(' ~ (data.tag.partituras|length) ~ ')' : '' }}</div>

                </a>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="recommendations_cta">
            <a class="btn" href="{{ path('by_author') }}">
                {% trans %}View all authors{% endtrans %}
            </a>
        </div>
    {% endif %}

    {% if popular_types is defined %}
    <h2>{% trans %}Known types{% endtrans %}</h2>
        <ul class="tag_list thumblist">
            {% for data in popular_types %}
            {% if data.tag.name is not null %}
            <li>
                <a class="" href="{{ path('by_type', { key: data.tag.name }) }}">
                    {% if data.tag.image is not empty and data.tag.getType != 'type'  %}
                        <div class="tag_image" style="--image:url({{ vich_uploader_asset(data.tag,'imageFile') }})"></div>
                    {% else %}
                    {% endif %}
                    <div class="tag_name btn {{ data.tag.getType }} ">{{ data.tag.name }} {{ data.tag.partituras is defined ? '(' ~ (data.tag.partituras|length) ~ ')' : '' }}</div>

                </a>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="recommendations_cta">
            <a class="btn" href="{{ path('by_type') }}">
                {% trans %}View all musicsheet types{% endtrans %}
            </a>
        </div>
    {% endif %}

</div>
{% endblock %}
