{% extends 'front.html.twig' %}

{% block title %}
        {% trans with { '%type%' : type|trans } %}Filter by Instruments{% endtrans %}
        -
        {% trans %}Website name{% endtrans %}
{% endblock %}
{% block header %}
    <!-- for translation !-->
    <!-- {% trans %}author{% endtrans %} -->
    <!-- {% trans %}type{% endtrans %} -->
    <h1 class="subtitle">
        {% trans with { '%type%' : type|trans } %}Filter by Instruments{% endtrans %}
    </h1>
{% endblock %}

{% block body %}
    <ul class="tag_list {{ type }}">
        {% for item in tags %}
        <li>
        {% if item.tag %}
            <a class="{{ key == item.tag.name ? 'selected'}}" href="{{ path('by_instrument', { key: item.tag.name }) }}">
                {% if item.image is not empty  %}
                    <div class="tag_image" style="--image:url({{ vich_uploader_asset(item,'imageFile') }})"></div>
                {% else %}
                {% endif %}
                <div class="tag_name">{{ item.name }} {{ item.partituras is defined ? '(' ~ (item.partituras|length) ~')' : '' }}</div>
            </a>
        {% else %}
                <a>
                {% if item.image is not empty  %}
                    <div class="tag_image" style="--image:url({{ vich_uploader_asset(item,'imageFile') }})"></div>
                {% else %}
                {% endif %}
                <div class="tag_name">{{ item.name }} {{ item.partituras is defined ? '(' ~ (item.partituras|length) ~')' : '' }}</div>
                </a>
        {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

