

{% if list_title is defined %}
<p class="last_added intro_text">{{ list_title }}</p>
{% endif %}


<div class="{{ teasinglist is defined ? 'teasinglist_container': 'list_container' }} {{ partituras|length == 0 and avoid_empty is not defined ? "empty" : "" }}">

    {% if partituras|length == 0 and hide_empty is not defined %}
    <p>{% trans with { '%app_login%' : path('app_login') } %}No results found.{% endtrans %}</p>
    {% endif %}
    {% for partitura in partituras %}
    <section class="partitura_item"
             {%  if remove_link is defined and remove_link is not null %}
             data-listid="{{userList.userListPartituras[loop.index-1].id}}"
             {% endif %}
    >
        <div class="partitura_header">
            {%  if move_button is defined and move_button %}
            <div class="partitura_move"></div>
            {% endif %}
            {%  if remove_link is defined and remove_link is not null %}
            <a class="partitura_remove" href="{{ remove_link|replace({'__id__': userList.userListPartituras[loop.index-1].id}) }}" onclick="return confirm('{% trans %}List remove confirmation{% endtrans %}')"></a>
            {% endif %}
            <p class="partitura_name">
            {%  if custom_link is defined %}
                <a href="{{ custom_link|replace({'__id__': partitura.id}) }}">
            {%  elseif userList is defined %}
                    <a href="{{ path('app_user_list_view', { user: userList.user.id, name: userList.name, userlistpartituraId: userList.userListPartituras[loop.index-1].id}) }}">
            {% else %}
                <a href="{{ path('front_partitura_show', { url: partitura.url}) }}">
            {% endif %}
                    {{ partitura.name }}
                </a>
            </p>

            {% if hide_infos is not defined or  not hide_infos %}
                <div class="partitura_header_extra">
                    <ul class="list_tags" data-key="{% trans %}Musicsheet type{% endtrans %}">
                    {% for tag in partitura.tags %}
                        {% if not tag.isInstrument and not tag.isOrigin %}
                            <li><a class="btn {{ tag.type }}" href="{{ path('by_' ~ tag.type , { key: tag.name }) }}">{{ tag.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>


        {% if hide_image is not defined or  not hide_image %}
        <p class="partitura_image">
        <img src="{{ vich_uploader_asset(partitura,'musescoreFileFile')|replace({'.pdf':'.jpg'}) }}" loading="lazy" alt="{{ partitura.name }}" />
        </p>
        {% endif %}

        {% if hide_infos is not defined or  not hide_infos %}
            <div class="partitura_extra">

                {% if teasinglist is not defined and (  hide_infos is not defined or  not hide_infos ) %}
                {% trans with { '%date%' : partitura.getCreatedAt|date("Y-m-d") } %}Uploaded %date%{% endtrans %} 
                {% endif %}

                {% if hide_infos is not defined or  not hide_infos %}
                    <div class="partitura_stats">
                        <p class="views" title="{% trans with { '%views%' : partitura.views} %}%views% Views{% endtrans %}">{{ partitura.views }}</p>
                        {% if app.user %}
                        <button title="{% trans %}Add to favorite{% endtrans %}" data-href="{{ path('front_partitura_fav', {id: partitura.id }  ) }} " class="partitura_star {{ partitura in user_favs ? 'fav':'' }}">{{ partitura.userFavs|length }}</button>
                        {% else %}
                        <a rel="nofollow" title="{% trans %}Add to favorite{% endtrans %}" href="{{ path('app_register', {}  ) }} " class="partitura_star {{ partitura in user_favs ? 'fav':'' }}">{{ partitura.userFavs|length }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </section>
    {% endfor %}

</div>
    {% if partituras|length > 0 %}
    {% if current_page is defined %}
        <p class="pager">
        {% if current_page > 1 %}
            <a class="btn" href="{{
                path(type is defined ? 'by_'~type : 'search_partitura',
                {
                    search: filter.search,
                    col: filter.col,key: (key is defined ? key : null),
                    page: current_page-1 
                })
                }}">{% trans %}Previous{% endtrans %}</a> - 
        {% endif %}
        {% trans with { '%num%': current_page, '%total%':num_pages } %}Page %num% of %total%{% endtrans %}
        {% if current_page < num_pages %}
            - <a  class="btn" href="{{
                path(type is defined ? 'by_'~type : 'search_partitura',
                {
                    search: filter.search,
                    col:filter.col,
                    key: (key is defined ? key : null),
                    page: current_page+1
                })
                }}">{% trans %}Next{% endtrans %}</a>
        {% endif %}
        </p>
    {% endif %}
{% endif %}

{% if teasinglist is not defined %}
{% block javascripts %}
<script src="{{ asset("js/list.js?" ~ asset_version)}}"></script>
<script src="{{ asset('js/jquery.js?' ~ asset_version) }} " type="text/javascript"></script>
<script src="{{ asset('js/select2.js?' ~ asset_version) }} " type="text/javascript"></script>
<script type="text/javascript">

function formatTag (state) {
	if (!state.id) {
		return state.text;
	}

	var baseUrl = "{{ asset("public/images") }}";
    var item  = state.element;
    var className = '';
    if(item.getAttribute('data-author')) { className='author'; }
    if(item.getAttribute('data-type')) { className='type'; }
    if(item.getAttribute('data-instrument')) { className='instrument'; }
    if(item.getAttribute('data-other')) { className='other'; }
	var $state = $(
			'<span class="btn '+className+'">'+state.text+'</span>'
			);

	return $state;
};

    $("#partitura_tags").select2();
    $("#tags").select2({
            placeholder:'{% trans %}Click to add a filter by tag{% endtrans %}',
			templateSelection: formatTag,
            templateResult: formatTag,
            width:'100%'
        });
    $("#tags").on('change',  function()
    {
        console.log('changed',this);
        document.querySelector('.partitura_filters form').dispatchEvent(new Event('submit'));
    });
</script>
{% endblock %}
{% endif %}

{% if teasinglist is not defined %}
{% block stylesheets %}
    <link href="{{ asset('css/select2.css?' ~ asset_version) }}" rel="stylesheet" type="text/css">
{% endblock %}
{% endif %}
