{% extends 'front.html.twig' %}

{% block title %}
    {% trans %}Musescore tutorial for txistu{% endtrans %}
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("css/tuto.css?" ~ asset_version)}}" />
{% endblock %}

{% block header %}
    <h1 class="subtitle">{% trans %}Musescore txistu tutorial{% endtrans %}</h1>
{% endblock %}

{% block body %}

<div class="musescore_tuto">
    <p>{% trans %}También quiere crear particiones de música para el Txistu? Con este sencillo tutorial podra crear partituras de manera sencilla, y con el sonido original del Txistu y Silbote.{% endtrans %}</p>


    <h2>{% trans %}Etapa 1: Descarga del programa{% endtrans %}</h2>
    <p>{% trans %}Para crear las partituras, se utiliza un programa llamado <i>Musescore</i>{% endtrans %}.{% trans %}Es un programa libre, y gratuito. Puede descargarlo en la <a href="https://musescore.org/es/download">Página oficial de musescore</a>.{% endtrans %}</p>

    <h2>{% trans %}Etapa 2: Archivos Adicionales{% endtrans %}</h2>
    <p>{% trans %}Por defecto Musescore viene con una serie de instrumentos, pero desgraciadamente, no viene con el Txistu. Para añadir ese instrumento, tendra que descargar 2 archivos:{% endtrans %}</p>
    <ul>
        <li><a download="instruments.xml" href="{{ asset('musescore/instruments.xml') }}">instruments.xml</a></li>
        <li><a download="Full_with_txistu.sf2" href="{{ asset('musescore/Full_with_txistu.sf2') }}">Full_with_txistu.sf2</a></li>
    </ul>

    <h2>{% trans %}Etapa 3: Configurar Musescore / Archivos de sonido{% endtrans %}</h2>
    <p>{% trans %}Lo primero es entrar en la parte de configuración del programa. Por ello pincharemos en el botom "Editar" del menu superior, y en "Preferencias".{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/preference1.png') }}" alt="musescore preferences 1" /></p>
    <hr />

    <p>{% trans %}Una vez abierto el panel de preferencias, nos encontramos con 1 pantalla con un formulario bastante grande. Tenemos que buscar la línea en donde viene "Soundfonts".{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/preference2.png') }}" alt="musescore preferences 1" /></p>
    <p>{% trans %}Y darle al icono en forma de lapiz.{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/preference3.png') }}" alt="musescore preferences 1" /></p>

    <hr />
    <p>{% trans %}Nos aparece un nuevo panel, con la lista de carpetas en donde se pueden ubicar los archivos de sonido. Añadimos una nueva carpeta. Tenemos que escoger la carpeta en donde hemos guardado los archivos instruments.xml y Full_with_txistu.sf2.{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/preference4.png') }}" alt="musescore preferences 1" /></p>


    <h2>{% trans %}Etapa 4: Configurar Musescore / Instrumentos{% endtrans %}</h2>
    <p>{% trans %}Tambien tenemos que configurar la lista de instrumentos disponibles. Por ello, vamos a la pestaña de "Partitura"{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/preference5.png') }}" alt="musescore preferences 1" /></p>

    <p>{% trans %}Y modificamos la primera línea "Lista de instrumentos 1", escogiendo el archivo instruments.xml que nos hemos bajado.{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/preference6.png') }}" alt="musescore preferences 1" /></p>

    <p>{% trans %}Una vez realizadas todas estas étapas, validamos dándole al boton "OK".{% endtrans %}</p>


    <h2>{% trans %}Etapa 5: Creación de una partitura{% endtrans %}</h2>
    <p>{% trans %}Para crear una partitura con txistu y/o silbote, lo primero que haremos es crear una partitura:{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/new1.png') }}" alt="musescore preferences 1" /></p>
    <p>{% trans %}Introducimos el título y la información de la partitura, y pinchamos en Siguiente:{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/new2.png') }}" alt="musescore preferences 1" /></p>
    <p>{% trans %}Elegimos la opción de "Eleja instrumentos", y damos a siguiente:{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/new3.png') }}" alt="musescore preferences 1" /></p>
    <p>{% trans %}Vemos la lista disponibles de instrumentos. En el apartado de "Instrumentos de viento", vemos que ahora esta disponible el Txisty, y el Silbote. Podemos añadir tantos instrumentos como queremos, y terminamos Dándole al boton de "Siguiente", y configuramos la partitura como deseada.{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/new4.png') }}" alt="musescore preferences 1" /></p>

    <h2>{% trans %}Etapa 6: Ajustar Sintetizador{% endtrans %}</h2>
    <p>{% trans %}El sonido aun no es el correcto! Necesitamos decirle al programa de utilizar nuestro archivo de sonido. Por ello, iremos al apartado del "Sintetizador", mediante el menu inicio/Ver.{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/sint1.png') }}" alt="musescore preferences 1" /></p>
    <p>{% trans %}Le damos al boton situado abajo a la derecha: Añadir{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/sint2.png') }}" alt="musescore preferences 1" /></p>
    <p>{% trans %}Escogemos el archivo Full_with_txistu.sf2, y le damos al boton Cargar. Para memorizar esta cambio, le damos a los botones de "Guardar partitura", y "Establecer como valor predeterminado".{% endtrans %}</p>
    <p class="with_image"><img src="{{ asset('musescore/sint3.png') }}" alt="musescore preferences 1" /></p>

</div>

{% endblock %}
