{% extends 'front.html.twig' %}

{% block title %}
    {% trans %}Musescore 4 tutorial for txistu{% endtrans %}
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("css/tuto.css?" ~ asset_version)}}" />
{% endblock %}

{% block header %}
    <h1 class="subtitle">{% trans %}Musescore txistu tutorial{% endtrans %}</h1>
{% endblock %}

{% block body %}

<div class="musescore_tuto">
    <p>{% trans %}También quiere crear particiones de música para el Txistu? Con este sencillo tutorial podra crear partituras de manera sencilla, y con el sonido original del Txistu y Silbote.{% endtrans %}</p>


    <h2>{% trans %}Etapa 1: Descarga del programa{% endtrans %}</h2>
    <p>{% trans %}Para crear las partituras, se utiliza un programa llamado <i>Musescore</i>{% endtrans %}. Es un programa libre, y gratuito. Puede descargarlo en la <a href="https://musescore.org/es/download">Página oficial de musescore</a>.</p>

    <h2>{% trans %}Etapa 2: Descargar archivos para parchear{% endtrans %}</h2>
    <p>{% trans %}Por defecto Musescore viene con una serie de instrumentos, pero desgraciadamente, no viene con el Txistu. Para añadir ese instrumento, tendra que descargar 2 archivos:{% endtrans %}</p>
    <ul>
        <li><a download="instruments.xml" href="https://nextcloud.tfeserver.be/index.php/s/QyfkaKoEmbF26WK">instruments.xml</a></li>
        <li><a download="MS Basic.sf3" href="https://nextcloud.tfeserver.be/index.php/s/eqoNXCEgfjRTWEy">MS Basic.sf3</a></li>
    </ul>

    <h2>{% trans %}Etapa 3: Copiar los archivos{% endtrans %}</h2>
    <ul>
    <li>{% trans %}Copiar el archivo instruments.xml a la carpeta {% endtrans %}C:\Program Files\MuseScore 4\instruments</li>
    <li>{%trans %}Copiar el archivo "MS Basic.sf3" a la carpeta {% endtrans %} C:\Program Files\MuseScore 4\sound</li>
    </ul>

    <h2>{% trans %}Etapa 4: Arrancar Musescore4{% endtrans %}</h2>
    <p>{% trans %}Ya puede añadir una partitura, utilizando los instrumentos de Txistu o Silbote.{% endtrans %}
    <p><img src="https://tfe.eus/download/Blog/musescore4.png" alt="" /></p>

</div>

{% endblock %}
