{% extends 'front.html.twig' %}

{% block title %}
    {% trans %}Website name{% endtrans %}
    -
    {% trans %}All the music sheets you are searching for{% endtrans %}
{% endblock %}

{% block header %}
<h1 class="subtitle">{% trans with { '%contact_link%' : 'mailto:admin@partiturak.eus' } %}welcome_title{% endtrans %}</h1>
{% endblock %}

{% block body %}

<div class="frontend">

    {% if current_page is defined and current_page < 2 %}
    <div class="welcome_message">{% trans %}welcome_message{% endtrans %}</div>
    {% endif %}

    <h2>{% trans %}azken partiturak{% endtrans %}</h2>
    {% include 'front_partitura/list.html.twig' with {  } %}


</div>
{% endblock %}
