{% extends 'front.html.twig' %}

{% block title %}
    {% trans %}Website name{% endtrans %}
    -
    {% trans %}All the music sheets you are searching for{% endtrans %}
{% endblock %}

{% block header %}
<h1 class="subtitle">{% trans with { '%contact_link%' : 'mailto:admin@partiturak.eus' } %}partitura guztiak{% endtrans %}</h1>
{% endblock %}

{% block body %}

<div class="frontend">

    {% include 'front_partitura/list.html.twig' with {  } %}


</div>
{% endblock %}
