    <ul class="tag_list">
        {% for item in tags %}
        <li>
            <a class="" href="{{ path('by_type', { key: item.name }) }}">
                {% if item.image is not empty  %}
                    <div class="tag_image" style="--image:{{ vich_uploader_asset(item,'imageFile') }}"></div>
                {% else %}
                {% endif %}
                <div class="tag_name">{{ item.name is defined ? item.name : '' }}</div>
                <div class="tag_info">{{ item.partituras.length is defined ? item.partituras.length : '' }}</div>
            </a>
        {% endfor %}
    </ul>

