{% extends 'front.html.twig' %}

{% block title %}
{% trans with { '%partitura_name%' : partitura.name} %}Music sheet of %partitura_name% {% endtrans %}
{% endblock %}

{% block header %}
<h1 class="subtitle">{{ partitura.name }}</h1>
<div class="header_group">
    {% if app.user %}
        <button title="{% trans %}Add to favorite{% endtrans %}" data-href="{{ path('front_partitura_fav', {id: partitura.id }  ) }} " class="partitura_star {{ partitura in user_favs ? 'fav':'' }}">{% trans %}Add to favorite{% endtrans %}</button>
    {% else %}
        <a rel="nofollow" title="{% trans %}Add to favorite{% endtrans %}" href="{{ path('app_register', {}  ) }} " class="partitura_star">{% trans %}Add to favorite{% endtrans %}</a>
    {% endif %}
        {% if is_granted('ROLE_ADMIN') or ( app.user and app.user.id == partitura.user.id ) %}
        <p> - <a href="{{ path('partitura_edit', {'id': partitura.id}) }}">{% trans %}Edit this music sheet{% endtrans %}</a></p>
        {% endif %}
</div>
{% if partitura.text is not empty %}
<h2 class="partitura_desc">{{partitura.text }}</h2>


{% endif %}
{% endblock %}

{% block body %}
<div class="frontend">

    <div class="partitura_infos">
        {% if partitura.tags is not empty %}
            <div class="info_tags">
                    {% for tag in partitura.tags %}
                        <a class="btn {{ tag.getType }}" href="{{ path('by_' ~ tag.gettype, { key: tag.name }) }}">{{ tag.name }}</a>
                    {% endfor %}
            </div>
        {% endif %}

    </div>

    <div class="partitura_tags">
        <div style="display:none">
            {% trans with { '%views%': partitura.views } %}%views% Views{%endtrans%}
        </div>

    </div>






    <div class="partitura_cols">


            <div class="partitura_content">

                {% if partitura.getMp3s|length > 0 %}
                <div class="audios">
                    <div class="audio_player-container loading">
                        <div class="audio_player">
                            <button class="audio_icon audio_restart"><img alt="Previous" loading="lazy" src="{{ asset('images/previous.png') }}" /></button>
                            <button class="audio_icon audio_back"><img alt="Back 5seconds" loading="lazy" src="{{ asset('images/back5s.png') }}" /></button>
                            <button class="audio_icon audio_play"><img alt="Play" loading="lazy" src="{{ asset('images/play.png') }}" /></button>
                            <button class="audio_icon audio_next"><img alt="Next 5seconds" loading="lazy" src="{{ asset('images/next5s.png') }}" /></button>
                        </div>
                        <div class="audio_percent">

                            <div class="audio_num">
                            <span class="audio_loading">{% trans %}Loading{% endtrans %}</span>
                                <span class="audio_current"></span> / <span class="audio_total"></span>
                            </div>
                            <div class="audio_num audio_num2">
                                <span class="audio_current2"></span> / <span class="audio_total2"></span>
                            </div>
                        </div>
                        <div class="audio_num-container">
                            <div class="audio_speed">
                                {% trans %}Speed{% endtrans %}:
                                    <button class="audio_speed_minus">-</button>
                                    <span class="current_speed">%100</span>
                                    <button class="audio_speed_more">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="mp3_main">
                         {% for key,mp3 in partitura.getMp3s %}
                         <div class="mp3_item">
                             <div class="mp3_item-content">
                                 <div class="mp3_header">
                                     <p class="instrument_image">
                                     <a href="{{ path('by_instrument', {key: mp3.instrumento.name }) }}">
                                        <img loading="lazy" src="{{ vich_uploader_asset(mp3.instrumento ,'imageFile') }}" alt="{{ mp3.instrumento.name }}" />
                                        </a>
                                    </p>
                                     <p class="mp3_name">{{ mp3.name ? mp3.name : mp3.instrumento.name }}</p>
                                     <p class="audio_src"><audio data-volume="{{key ? mp3.instrumento.volume*0.6 : mp3.instrumento.volume}}" preload="none" id="audio_{{mp3.id}}" src="{{ vich_uploader_asset(mp3, 'mp3File') }}" controls type="audio/mp3"></audio></p>
                                </div>
                                <p class="audio_mute">
                                    <input type="range" value="1" min="0" max="1" step="0.01" />
                                    <button data-ref="audio_{{ mp3.id}}">🔊</button>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                         <p class="help">{% trans %}* Click on an instrument to mute it.{% endtrans %}</p>
                    </div>
                </div>
                {% endif %}

                {% if partitura.creditoUrl %}
                    <div class="credito_iframe-container">
                        <div class="credito_iframe">
                        <a href="{{ partitura.creditoUrl }}">
                            <img loading="lazy" data-src="{{ partitura.creditoUrl }}" src="https://img.youtube.com/vi/{{ partitura.creditoUrlThumbnail }}" />
                        </a>
                        </div>
                    </div>
                {% endif %}


                {% if partitura.musescoreFile %}
                    <div class="partitura_dl">
                        {% trans %}Download music sheet{% endtrans %} - <a rel="nofollow" target="_blank" class="pdf" download="{{partitura.name}}.pdf" href="{{  vich_uploader_asset(partitura , 'musescoreFileFile') }}">{{ partitura.name}}.pdf</a>
                        {% if partitura.partiturapdfs|length >0 %}
                        <p>{% trans %}Partituras por instrumento {% endtrans %}:</p>
                        <ul>
                            {% for pdf in partitura.partiturapdfs %}
                            <li><a rel="nofollow"  target="_blank" class="pdf"download="{{ partitura.name }} - {{pdf.name}}.pdf" href="{{   vich_uploader_asset(pdf, 'pdfFile') }}">{{ partitura.name }} - {{ pdf.name }}.pdf</a></li>
                            {% endfor %}

                        </ul>
                        {% endif %}
                    </div>
                {% endif %}



                <p class="partitura_info">{{ partitura.validationComment|raw }}</p>
            </div>

            <div class="partitura_tabs">
                <ul class="partitura_tabs-links">
                    <li><a rel="nofollow" data-rel="main" class="selected" href="{{ vich_uploader_asset(partitura , 'musescoreFileFile') }}">{{ partitura.name}}</a></li>
                    {% for pdf in partitura.partiturapdfs %}
                    <li><a rel="nofollow" data-rel="spec_{{ loop.index }}" href="{{ vich_uploader_asset(pdf, 'pdfFile') }}">{{ pdf.name ? pdf.name :  pdf.instrumento.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="partitura_iframe">
                <iframe loading="lazy" loading="lazy" data-src="{{ asset('js/pdf.js2/web/viewer.html') }}?scale=actual-size&file={{  vich_uploader_asset(partitura , 'musescoreFileFile') }}"></iframe>
                </div>
            </div>
    </div>

    <div class="partitura_links">
        {% if partitura.links|length > 0 %}
        <h2 class="subsubtitle">{% trans %}External links{% endtrans %}:</h2>
        <ul>
            {% for link in partitura.links %}
            <li><a rel="nofollow" rel="noopener noreferrer" target="_blank" class="external_link {{link.getIframeContent ? 'embed' }}" href="{{ link.link }}">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    {% if recommendations_type %}
    <div class="recommendations">
        <h2 class="subtitle">{% trans with { '%tag%' : type.getName } %}Otras partituras de tipo "%tag%"{% endtrans %}</h2>
        {% include 'front_partitura/list.html.twig' with { teasinglist: true, partituras: recommendations_type  } %}
        <div class="recommendations_cta">
            <a class="btn" href="{{ path('by_' ~ type.type , { key: type.name }) }}">
                {% trans %}Ver todas{% endtrans %}
            </a>
        </div>
    </div>
    {% endif %}
    {% if recommendations_author %}
    <div class="recommendations">
        <h2 class="subtitle">{% trans with { '%tag%' : author.getName } %}Otras partituras del autor "%tag%"{% endtrans %}</h2>
        {% include 'front_partitura/list.html.twig' with { teasinglist: true, partituras: recommendations_author  } %}
        <div class="recommendations_cta">
            <a class="btn" href="{{ path('by_' ~ author.type , { key: author.name }) }}">
                {% trans %}Ver todas{% endtrans %}
            </a>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("css/audio.css?" ~ asset_version)}}" />
<link type="text/css" rel="stylesheet" href="{{ asset("css/embed.css?" ~ asset_version)}}" />
<link type="text/css" rel="stylesheet" href="{{ asset("css/dialog.css?" ~ asset_version)}}" />
{% endblock %}

{% block image %}https://partiturak.eus{{ vich_uploader_asset(partitura,'musescoreFileFile')|replace({'.pdf':'.jpg'})  }}{% endblock %}
{% block javascripts %}
<script>
    images_path="{{asset("images/") }}";
    pdf_viewer="{{ asset('js/pdf.js2/web/viewer.html') }}?file=";
</script>
<script src="{{ asset("js/list.js?" ~ asset_version)}}"></script>
<script src="{{ asset("js/tabs.js?" ~ asset_version)}}"></script>
<script src="{{ asset("js/audio.js?" ~ asset_version)}}"></script>
<script src="{{ asset("js/view.js?" ~ asset_version)}}"></script>
<script src="{{ asset("js/dialog.js?" ~ asset_version)}}"></script>

{% endblock %}
