{% extends 'base.html.twig' %}

{% block title %}{% trans %}Login or register{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="subtitle">{% trans %}Please sign in{% endtrans %}</h1>

    <div class="centered welcome_message">
        <p>
            {% trans %}Login.text{% endtrans %}
        </p>
    </div>
        <form method="post" class="login_form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div>
            <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <p>
                <label class="sr-only">&nbsp;</label>
                <button class="btn login btn-lg btn-primary" type="submit">
                    {% trans %}Sign in{% endtrans %}
                </button>
            </p>
        </form>
        <p class="centered">
            {% trans %}Do not have account?{% endtrans %} -
            <a class="btn" href="{{ path('app_register') }}">{% trans %}Register{% endtrans %}</a>
            {% trans %}or{% endtrans %}
            <a class="btn" href="{{ path('app_forgot_password_request') }}">
            {% trans %}reset your password{% endtrans %}
            </a>
        </a></p>
    </div>

{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("css/admin.css?" ~ asset_version)}}" />
{% endblock %}
