<div class="form_block">
    <label>MP3</label>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="save_btn btn">{% trans %}Save{% endtrans %}</button>
        {{ form_end(form) }}
    </div>
</div>
