{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit MP3{% endtrans %}{% endblock %}

{% block body %}
<div class="centered_form">
<h2 class="form_title">{% trans %}Edit MP3{% endtrans %}</h2>

    {{ include('mp3/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('partitura_edit', { id: mp3.partitura.id }) }}">{% trans %}back{% endtrans %}</a>

    {{ include('mp3/_delete_form.html.twig') }}
</div>
{% endblock %}
