{% extends 'base.html.twig' %}

{% block title %}{% trans %}Password Reset Email Sent{% endtrans %}{% endblock %}

{% block body %}
<div class="welcome_message">
    <h1 class="subtitle">{% trans %}Reset your password{% endtrans %}</h1>
    <p>{% trans with { "%tokenLifetime%": tokenLifetime|date('g') } %}An email has been sent that contains a link that you can click to reset your password. This link will expire in %tokenLifetime% hour(s).{% endtrans %}</p>
    <p>{% trans with { "%path%" : path('app_forgot_password_request') } %}If you don't receive an email please check your spam folder or <a href="%path%">try again</a>.{% endtrans %}</p>
    </div>
{% endblock %}
