{% extends 'base.html.twig' %}

{% block title %}{% trans %}Reset your password{% endtrans %}{% endblock %}

{% block body %}
<div class="welcome_message">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="subtitle">{% trans %}Reset your password{% endtrans %}</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <p>{% trans %}Enter your email address and we we will send you a link to reset your password.{% endtrans %}
            </p>
        </div>

        <button class="btn btn-primary">{% trans %}Send password reset email{% endtrans %}</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
