.audios
{
    text-align:center;
    width:100%;
    margin:0 40px 0 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-bottom:25px;
    padding-top:0px;
    padding-bottom:60px;
}
.mp3_main
{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
    margin-top:13px;
}
.mp3_main .help
{
    position:absolute;
    top:100%;
    width:100%;
    height:30px;
    text-align:left;
    color:var(--color3);
}
.mp3_intro
{
    text-align:left;
    padding-bottom:10px;
}
.mp3_item
{
    margin:1px;
    text-align:center;
    width:100%;
    border:none;
}
.mp3_header
{
    position:relative;
    width:100%;
    display:flex;
    align-items:center;
    background:var(--extra_background);
}
.mp3_item button
{
    cursor:pointer;
    font-size:17px;
    background:var(--extra_background);
    border:1px solid var(--extra_background);
    padding:0;
    text-transform:uppercase;
    font-size:0;
    background:url(../images/volume.png) center center no-repeat;
    background-size:contain;
}
.mp3_item button.muted
{
    background:url(../images/volume_no.png) center center no-repeat;
    background-size:contain;
}
.mp3_item-content
{
    position:relative;
    padding:0;
    display:flex;
    border:1px solid var(--extra_background);
}
.audio_src
{
    display:none;
}
.audio_mute
{
    display:flex;
    align-items:center;
    background:var(--extra_background);
    flex-direction:row;
}
.audio_mute button,
.audio_mute input
{
    display:block;
    width:50px;
    height:100%;
}
.audio_mute input
{
    -webkit-appearance: none;
    background:#bbb;
    width:75px;
    height:3px;
}
.audio_num,
.audio_num2
{
    position:relative;
    z-index:3;
    font-size:15px;
    pointer-events:none;
    letter-spacing:0.05em;
    height:100%;
    border:none;
    white-space:nowrap;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0px 15px;
    color:var(--color2);
    clip-path:polygon(0% 0%, var(--percent) 0%, var(--percent) 100%, 0% 100%);
}
.audio_num2
{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    padding:0;
    clip-path:polygon(var(--percent) 0%, 100% 0%, 100% 100%, var(--percent) 100%);
    color:var(--color3);
}

.mp3_name
{
    font-size:11px;
    color:black;
    font-weight:normal;
    letter-spacing:0.05em;
    text-transform:uppercase;
    padding:0 10px;
}
.instrument_image
{
    position:relative;
    width:50px;
    height:35px;
    background:transparent;
}
.instrument_image img
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width:60%;
    height:90%;
    object-fit:contain;
    object-position:center center;
}
.audio_player-container
{
    width:100%;
    padding:0;
    padding:0px;
    display:flex;
    flex-direction:column;
    border:2px solid var(--color2);
    align-items:center;
}
.audio_player
{
    display:flex;
    width:100%;
    flex-direction:row;
    align-items:center;
    background:var(--color2);
}
.audio_icon
{
    cursor:pointer;
    text-transform:uppercase;
    font-size:16px;
    letter-spacing:0.05em;
    width:100%;
    background:var(--extra_background);
    border:none;
    height:40px;
}
.loading .audio_icon
{
    opacity:0.3;
}
.audio_icon:focus
{
    background:#eee;
}
.audio_restart
{
}
.audio_player img
{
    height:40%;
}
img
{
    font-size:0;
}
.audio_play
{
}
.audio_speed
{
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
    background:var(--extra_background);
    color:black;
    text-transform:uppercase;
    letter-spacing:0.10em;
    font-size:11px;
    width:100%;
}
.audio_speed button
{
    background:var(--color2);
    color:var(--color3);
    border:none;
    font-weight:bold;
    font-size:inherit;
    padding:5px;
    width:60px;
    height:40px;
    cursor:pointer;

}
.current_speed
{
    display:inline-block;
    width:80px;
}
.audio_num-container
{
    display:flex;
    width:100%;
    flex-direction:row;
}
.audio_percent
{
    position:relative;
    width:100%;
    background:var(--list_bg);
    margin-left:0px;
    height:40px;
    min-height:40px;
    --percent:0%;
    cursor:pointer;
}
.audio_percent:before
{
    content:'';
    position:absolute;
    top:0px;
    left:0px;
    width:var(--percent);
    height:calc(100% - 0px);
    background:var(--color5);
}
.partitura_dl
{
    font-size:13px;
    line-height:2em;
}
.partitura_dl ul
{
    padding:0 0 0 5px;
    list-style:none;
}
.pdf:before
{
    content:'';
    position:relative;
    top:-2px;
    display:block;
    width:3em;
    background:url(../images/pdf.svg) center center no-repeat;
    background-size:auto 100%;
    height:1.5em;
}
.pdf
{
    display:flex;
    align-items:center;
    color:var(--color3);
    margin-bottom:5px;
}

.popin
{
    position:fixed;
    z-index:3;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    cursor:pointer;
}
.iframe_container
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    width:calc(100% - 30px);
    max-width:800px;
}
.popin_close
{
    position:absolute;
    cursor:pointer;
    right:-20px;
    top:-20px;
    width:40px;
    height:40px;
    font-size:20px;
    font-weight:bold;
    background:white;
    z-index:3;
}
.iframe
{
    position:relative;
    padding-top:56.25%;
}
.iframe_container iframe
{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background:white;
}

.audio_loading
{
    background:white;
    display:none;
    justify-content:center;
    align-items:center;
    color:black;
    font-size:1em;
    height:100%;
    position:absolute;
    left:0;
    width:100%;
}
.loading .audio_loading
{
    display:flex;
}

@media all and (max-width: 1005px)
{
    .audios
    {
        display:grid;
        align-items:flex-start;
        grid-template-columns:1fr 1fr;
        grid-gap:20px;
        padding-bottom:10px;
        margin:auto;
    }
    .mp3_main
    {
        margin-top:0;
    }
    .mp3_name
    {
        font-size:9px;
    }
    .audio_icon
    {
        height:38px;
    }
    .audio_speed button
    {
        width:40px;
        height:30px;

    }
    .audio_num,
    .audio_num2
    {
        font-size:15px;
    }
    .instrument_image
    {
        height:33px;
    }
    .instrument_image img
    {
        height:60%;
    }
    .partitura_dl
    {
        font-size:10px;
    }
    .partitura_dl p
    {
        margin:20px 0 10px 0;
    }
}

/* Too small width for player */
@media all and (max-width: 600px)
{
    .audios
    {
        grid-template-columns:1fr;
    }
}
