* {
vertical-align: baseline;
font-weight: inherit;
font-family: inherit;
font-style: inherit;
font-size: 100%;
border: 0 none;
box-sizing:border-box;
outline: 0;
padding: 0;
margin: 0;
}

:root
{
    --localesbg: #313844;
    --localesfg: #ffffff;

    --color2: #f0f0f0; /* Gray */
    --color3:#313844; /* Dark blue */
    --color4:#ffffff; /* White */

    --color5:#9f6d41; /* green */
    --green: #399547;
    --color6:#88613f; /* blue light */
    --color7:#e3e6ec; /* blue light */

    --warning:#c06060;
}

a
{
    color:var(--color3);
}

body
{
    font-family:Verdana, sans-serif;
    background:var(--color7);
    font-size:13px;
    margin:0;
    padding:0;
}
main
{
    grid-column-start:2;
    grid-column-end:span 1
}
.page>*
{
}
.page
{
    position:relative;
    overflow:hidden;
    z-index:1;
    display:block;
    max-width:1800px;
    margin:auto;
    background:var(--color4);
    color:var(--color3);
}


p, h1, h2, h3
{
    margin:0;
    letter-spacing:0.01em;
}
.warning
{
    font-weight:bold;
}

header
{
    display:grid;
    grid-template-areas: "logo menu locales"
                         "logo search   ... ";
    background:black url(../images/menubg.jpg) 100% 20% no-repeat;
    background-size:cover;
    text-align:center;
    width:100%;
    height:100%;
    padding:0px 0;
    align-items:flex-end;
}
.open_menu
{
    display:none;
}
.locales
{
    grid-area:locales;
    position:absolute;
    top:10px;
    right:10px;
    display:flex;
    flex-direction:row;
    list-style:none;
    margin:0;
    padding-bottom:10px;
    color:var(--localesfg);
}
.locales li
{
    position:relative;
    z-index:1;
}
.locales a
{
    display:flex;
    align-items:center;
    height:100%;
    padding:0px 15px;
    color:var(--localesfg);
}
.locales a:visited
{
    color:inherit;
}
.locales a.current
{
    text-decoration:none;
    pointer-events:none;
}

.main_title a
{
    display:block;
    z-index:1;
    background:url(../images/logo.svg) center center no-repeat;
    background-size:auto 80%;
    text-wrap:balance;
    font-size:0;
    width:167px;
    height:150px;
    margin-bottom:20px;
}

.menu
{
    grid-area:menu;
    width:100%;
    height:100px;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
ul.menu-list
{
    display:grid;
    list-style:none;
    grid-template-columns:repeat(auto-fit, minmax(140px, 1fr));
    align-items:flex-start;
    max-width:970px;
    margin:auto;
    flex-direction:row;
    padding:0 30px 0 10px;
    gap:10px;
    justify-content:center;
}
ul.menu-list:after
{
    content:'';
    position:absolute;
    top:100%;
    left:0%;
    width:100%;
    height:300vh;
    background:rgba(0,0,0,0.5);
    opacity:0;
    transition:opacity 0.5s ease 0s;
    pointer-events:none;
    z-index:2;
}
ul.menu-list:hover:after
{
    opacity:1;
}
ul.menu-list>li
{
    position:relative;
    z-index:3;
    width:100%;
    height:100%;
    max-width:300px;
    list-style:none;
    text-align:left;
    margin:0px 0px;
    border-radius:3px;
}
ul.menu-list2
{
    display:none;
    position:absolute;
    border-left:1px solid var(--color7);
    border-right:1px solid var(--color7);
    border-bottom:1px solid var(--color7);
    z-index:2;
    width:100%;
}

ul.menu-list li:hover>ul.menu-list2
{
    display:block;
    list-style:none;
}
ul.menu-list>li>a,
ul.menu-list>li>span
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    text-transform:uppercase;
    background:var(--color3);
    padding:16px 20px;
}
ul.menu-list a,
ul.menu-list span
{
    display:block;
    background:var(--color4);
    text-decoration:none;
    color:var(--color4);
}

ul.menu-list>li ul>li
{
}
ul.menu-list>li ul>li>a,
ul.menu-list>li ul>li>span
{
    display:block;
    padding:10px 30px;
    color:var(--color1);
}
ul.menu-list>li ul>li.selected>a
{
    text-decoration:underline;
    text-decoration-thickness:2px;
    text-underline-offset:3px;
    text-decoration-color:var(--color5);
}
ul.menu-list>li ul>li:not(.selected)>a:hover
{
    text-decoration:underline;
    text-decoration-thickness:2px;
    text-underline-offset:6px;
    text-decoration-color:var(--color6);
}

.subtitle,
.subsubtitle
{
    display:inline-block;
    text-wrap:balance;
    text-align:left;
    padding:40px 0 5px 0;
    margin:auto;
    border-bottom:2px solid var(--color3);
    margin-bottom:15px;
    font-size:20px;
}
.subtitle
{
    padding:40px 10px 0px 10px;
    display:block;
    font-size:clamp(25px, 2.3vw, 34px);
    text-align:center;
    border-bottom:none;
}
.welcome_message
{
    text-align:center;
    margin:0 auto 40px auto;
    padding:0 0px;
    max-width:800px;
}
.welcome_message p
{
    font-size:13px;
    text-wrap:balance;
    line-height:2.0em;
    text-align:center;
}
.welcome_message input
{
    padding:7px 10px;
    margin:4px 0;
    vertical-align:middle;
}

.welcome_message button
{
    margin-top:15px;
}
.subsubtitle
{
    font-size:16px;
    padding:20px 0 2px 0;
}
a.external_link
{
    display:block;
    line-height:1.3em;
    padding:5px 0;
}

p
{
    line-height:1.6em;
}
.musescore_tuto ul
{
    margin:10px 20px;
    line-height:2em;
}
.container
{
    position:relative;
    z-index:1;
    min-height:calc(100vh - 180px);
    padding:0;
}
.content
{
    padding:0;
}

.content_withleftnav
{
    display:flex;
    flex-direction:row;
}
.left_nav
{
    margin:0;
    width:300px;
    margin-right:10px;
    display:flex;
    flex-direction:column;
    background:var(--color4);
    padding:10px 0;
}
.right_content
{
    position:relative;
    padding:0 30px;
    width:100%;
    box-sizing:border-box;
}
.left_nav ul
{
    list-style:none;
    margin:0;
    padding:15px 10px;
}
.leftnav_header
{
    font-weight:bold;
    text-transform:uppercase;
    padding:15px 15px 0 15px;
}
.left_nav a
{
    display:block;
    text-decoration:none;
    font-size:0.8rem;
    letter-spacing:0.05em;
    color:var(--color3);
    padding:5px 15px 5px 15px;
    margin:5px 0;
}
.left_nav li.selected
{
    font-weight:bold;
}


p.last_added,
p.intro_text
{
    text-align:center;
}

.list_container
{
    display:grid;
    width:100%;
    box-sizing:border-box;
    grid-gap:max(7px, 0.8vw);
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    justify-content:flex-start;
    align-items:flex-start;
    margin:0 0 15px 0;
    padding-top:15px;
    padding-bottom:15px;
    box-sizing:border-box;
}
.teasinglist_container
{
    display:grid;
    grid-gap:10px;
    margin:auto;
    justify-content:center;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
}

.list_container.empty
{
    grid-template-columns:1fr;
}
.partitura_item
{
    container-name: partitura;
    flex-direction:column;
    justify-content:space-between;
    overflow:hidden;
    position:relative;
    padding:0px;
    height:100%;
    width:100%;
    margin:0px;
    box-sizing:border-box;
    cursor:pointer;
    border:1px solid var(--color7);
    display:flex;
}

.partitura_image
{
    position:relative;
    z-index:1;
    padding:50% 0 0 0;
    overflow:hidden;
    height:0;
    opacity:0.9;
    pointer-events:none;
    background-position:43% 29%;
}
.partitura_image img
{
    opacity:0.6;
    position:absolute;
    transform: scale(1.5);
    transform-origin: 39% 53.9%;
    top:0;
    left:0;
    width:100%;
    height:auto;
    object-fit:cover;
}

.partitura_item:hover img
{
    opacity:0.9;
}

h2.partitura_desc
{
    background:transparent;
    text-align:center;
    font-size:16px;
    color:inherit;
    padding-bottom:20px;
}
.info_tags
{
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    justify-content:center;
    align-items:center;
}
.partitura_infos
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:-10px;
    margin-bottom:20px;
    padding:10px 0 0px 0;
}
.partitura_authors, .partitura_instruments, .partitura_types, .partitura_origins
{
    border-bottom:1px solid #d5d5d5;
    text-align:center;
    margin:0 40px;
    padding-bottom:20px;
    margin-bottom:30px;
}
.partitura_infos a
{
    margin-left:5px;
}
.partitura_extra p
{
    text-align:center;
}
.list_tags
{
    display:flex;
    flex-wrap:nowrap;
    width:100%;
    justify-content:flex-start;
    overflow:hidden;
    margin:0;
    padding:0px 0;
}
.list_tags li
{
    display:block;
    white-space:nowrap;
    margin:0;
    padding:0;
    font-size:10px;
}
.list_tags .btn
{
    position:relative;
    margin:0;
    flex-direction:row;
    overflow:hidden;
    justify-content:flex-start;
    margin:0 10px;
    padding:0;
    background:none;
}
.list_tags a.btn:where(.type, .author, .instrument, .origin):before
{
    margin-bottom:5px;
}

.info-separator,
.info_credito
{
    padding:0 10px;
    line-height:2em;
}

.partitura_list a
{
    display:block;
    padding:7px;
}
.views
{
    font-size:11px;
    padding:5px 20px 5px 10px;
    border-radius:0 0 50% 50%;
    background:url(../images/views.svg) right 45% no-repeat;
    background-size:auto 50%;
    margin-right:15px;
}
.partitura_stats
{
    display:flex;
    align-items:center;
    justify-content:center;
}
.partitura_name
{
    width:100%;
    text-align:center;
    padding:10px 0px;
    box-sizing:border-box;
}
.list_container a
{
    text-decoration:none;
}
.list_container a:hover
{
    text-decoration:underline;
}
.partitura_name a
{
    color:inherit;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:0.05em;
}
.partitura_name a:before
{
    content:'';
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}
.partitura_extra
{
    position:relative;
    z-index:3;
    display:flex;
    flex-shrink:0;
    flex-grow:0;
    padding-top:10px;
    padding:5px 10px;
    align-items:center;
    justify-content:space-between;
    border-top:1px solid var(--color7);
    font-size:12px;
}
.partitura_adminlist
{
    width:100%;
    max-width:800px;
    margin:auto;
}
.partitura_adminlist .not_visible
{
    background:#fee;
}
.partitura_adminlist .visible
{
    background:#efe;
}
.partitura_adminlist a
{
    display:block;
    color:var(--color3);
    text-decoration:none;
}
footer
{
    grid-column-start:1;
    grid-column-end:span 2;
    background:var(--color4);
    padding:15px 0px;
    margin-top:0px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
footer p
{
    padding:0 10px;
}
.advice
{
    padding:20px 0;
    text-align:center;
    margin:0;
}
.tag_list
{
    display:grid;
    width:100%;
    grid-template-columns:1fr 1fr 1fr;
    max-width:800px;
    box-sizing:border-box;
    padding:10px;
    flex-wrap:wrap;
    margin:0 auto;
    gap:10px;
}
.tag_list.smalllist
{
    justify-content:flex-start;
}
.tag_list li
{
    position:relative;
    display:flex;
    width:100%;
    list-style:outside;
    box-sizing:border-box;
    margin:0px;
    padding:0 0px;
    min-height:150px;
}
.tag_list.smalllist li
{
    width:100%;
    margin:0px 0;
    min-height:0;
    background:var(--color4);
    overflow:hidden;
}
.tag_list.thumblist li
{
    justify-content:center;
    a
    {
        display:flex;
        align-items:center;
        justify-content:center;
        background:transparent;
    }
    .tag_name
    {
        display:flex;
        gap:5px;
        flex-direction:column;
        border:none;
        text-align:center;
        &::before
        {
            background-color:var(--color2);
            border-radius:100%;
            background-position:center;
            background-size:30%;
            width:80px;
            height:80px;
        }
    }
}
.tag_list .tag_name
{
    color:var(--color3);
    background:var(--color4);
    border:1px solid var(--color4);
    font-size:12px;
    font-weight:normal;
    letter-spacing:0.02em;
    padding:10px 15px;
}
.tag_list.author .tag_name,
.tag_list.type .tag_name,
.tag_list.origin .tag_name
{
    text-align:left;
    font-size:13px;
    background:transparent;
    font-weight:normal;
    justify-content:flex-start;
    padding-left:20px;
    white-space:nowrap;
    color:var(--color3);
}
.tag_image
{
    position:relative;
    height:0;
    padding-top:70%;
    border:1px solid var(--color4);
    background:var(--image) no-repeat center;
    background-size:auto 40%;
    opacity:0.8;
}
.tag_image.default
{
    background:url(../images/author.jpg) center center no-repeat;
    background-size:80%;
}
.tag_image:before
{
    position:absolute;
    top:50%;
    left:50%;
    width:90%;
    height:90%;
    transform:translateY(-50%) translateX(-50%);
}
.tag_list a
{
    position:relative;
    display:flex;
    flex-direction:column;
    width:100%;
    font-size:13px;
    margin:0;
    text-decoration:none;
    text-align:left;
    justify-content:flex-end;
}
.tag_list.instrument a
{
    border:1px solid var(--color7);
}
.tag_list.smalllist a
{
    justify-content:flex-start;
}
@media (hover:hover)
{
    .tag_list a:hover .tag_image:before
    {
        background:rgba(255,255,255,0.3);

    }
}

.pager
{
    text-align:center;
    padding-bottom:40px;
}
.partitura_iframe
{
    position:relative;
    width:100%;
    height:100vh;
    margin-top:0px;
}
.partitura_iframe iframe
{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    border-top:none;
}

.credito_iframe-container
{
    position:relative;
    max-width:400px;
}
.credito_iframe
{
    position:relative;
    width:100%;
    height:0;
    margin:0px 0 30px 0;
    padding-top:52.26%;
    background:var(--color4);
}
.frontend
{
    text-align:center;
    padding:10px 15px;
}
.credito_iframe iframe,
.credito_iframe img
{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    border:none;
    object-fit:cover;
}
.credito_iframe:has(img):before
{
    content:'';
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    pointer-events:none;
    background:url(../images/youtube.svg) center center no-repeat;
    background-size:auto 30%;
    filter:invert(1);
    z-index:3;
}
.help
{
    font-size:11px;
    padding:5px 0;
}

.partitura_coments li
{
    padding-bottom:15px;
}
.partitura_coments textarea
{
    width:100%;
    height:130px;
    font-size:15px;
    border:1px solid var(--color3);
}
.partitura_tabs
{
    width:100%;
}
.partitura_tabs-links
{
    display:flex;
    flex-direction:row;
    list-style:none;
    padding:0;
    margin:0px 40px 0 0;
    flex-wrap:wrap;
    align-items:flex-end;
}
.partitura_tabs-links li
{
    margin-top:5px;
    margin-right:5px;
}
.partitura_links,
.partitura_coments
{
    margin:0 40px;
}

.btn
{
    cursor:pointer;
    display:inline-block;
    border:none;
    padding:13px 25px;
    line-height:16px;
    text-decoration:none;
    color:var(--color2);
    background:var(--color3);
    border-radius:5px;
}
.btn:hover
{
    opacity:0.7;
}
.centered
{
    text-align:center;
}
.btn.login
{
    width:300px;
}

.btn:where(.type, .author, .instrument, .origin)
{
    display:flex;
    flex-direction:row;
    align-items:center;
    background:var(--color2);
    color:var(--color3);
    font-size:10px;
    letter-spacing:0.02em;
    padding:8px 16px;
}
.btn:where(.type,.author,.instrument,.origin):before
{
    content:'';
    flex-shrink:0;
    background:url(../images/category.svg) left center no-repeat;
    background-size:auto 100%;
    width:20px;
    height:15px;
    padding-right:0px;
    display:inline-block;
}
.btn.origin:before
{
    background-image:url(../images/web.svg);
}
.btn.author:before
{
    background-image:url(../images/user.svg);
}

.btn.instrument:before
{
    background-image:url(../images/note.svg);
}

.btn-light
{
    color:var(--color3);
}
.btn.save
{
    background:var(--green);
}
.btn-delete
{
    cursor:pointer;
    background:var(--warning) url(../images/delete_white.svg) calc(100% - 10px) center no-repeat;
    background-size:auto 50%;
    width:auto;
    height:40px;
    padding-right:40px;
    &:empty
    {
        padding-left:0;
    }
}
.btn-add
{
    background:var(--green) url(../images/add_white.svg) calc(100% - 10px) center no-repeat;
    color:white;
    background-size:auto 50%;
    height:40px;
    padding-right:50px;
}
.partitura_tabs-links a,
.partitura_tabs-links span,
.list_buttons a
{
    display:block;
    text-decoration:none;
    padding:10px 20px;
    margin-right:2px;
    height:100%;
    text-align:center;
    box-sizing:border-box;
    border-radius:5px 5px 0 0;
    background:var(--color2);
    color:var(--color3);
    &.new_tab_link
    {
        background:var(--green);
        color:white;
        &:before
        {
            content:'';
            background:var(--green) url(../images/add_white.svg) calc(100% - 10px) center no-repeat;
            background-size:auto 100%;
            display:inline-block;
            vertical-align:middle;
            width:40px;
            height:25px;
        }
    }
}
.partitura_tabs-links a.selected,
.partitura_tabs-links span.selected
{
    background:var(--color3);
    color:var(--color4);
    border-left:1px solid var(--color3);
    border-right:1px solid var(--color3);
    border-top:1px solid var(--color3);
}

.list_buttons
{
    display:flex;
    justify-content:center;
    margin:0px 0 40px 0;
}
.list_buttons a
{
    margin:0 10px;
}
.partitura_star,
.partitura_list
{
    align-self:flex-end;
    box-sizing:border-box;
    margin-bottom:0px;
    cursor:pointer;
    display:inline-block;
    white-space:nowrap;
    background:url(../images/like.svg) right 50% no-repeat;
    border:none;
    background-size:auto 47%;
    font-size:1em;
    height:40px;
    line-height:40px;
    min-width:40px;
    padding:0;
    text-align:right;
    padding-right:26px;
    color:inherit;
}

.partitura_list
{
    background:url(../images/list.svg) right 60% no-repeat;
    background-size:auto 50%;
}
.partitura_star.fav
{
    background:url(../images/like_filled.svg) right 40% no-repeat;
    background-size:auto 50%;
}

.tag_intro
{
    padding-bottom:40px;
    text-align:center;
    max-width:600px;
    margin:0 auto;
}
.header_group
{
    position:absolute;
    top:-5px;
    right:20px;
    display:flex;
    flex-direction:row;
    gap:40px;
    align-items:center;
    justify-content:center;
    margin-bottom:30px;
}
.partitura_filters
{
    grid-area:search;
    width:100%;
    box-sizing:border-box;
    padding:25px 0 25px 0;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;

    #search
    {
        border:1px solid var(--color3);
        background:var(--color4);
        border-right:none;
        width:100%;
        border-radius:5px 0px 0px 5px;
        height:auto;
        line-height:45px;
    }
    .filter_type button[type="submit"], .filter_type .filter_value select
    {
        width:calc(100% - 20px);
        height:45px;
        box-sizing:content-box;
        line-height:45px;
    }
}
.partitura_filters .btn
{
    margin:0 5px;
    padding:9px 20px;
    cursor:pointer;
}
.partitura_filters input ~ label
{
    color:var(--color3);
    background:var(--color3);
}
.partitura_filters input ~ label:after
{
    display:inline-block;
    padding-left:7px;
    content:' ';
    width:0.5em;
    opacity:0.8;
}
.partitura_filters input:checked ~ label
{
    cursor:pointer;
    background:var(--color3);
}
.partitura_filters input:checked ~ label:after
{
    content:'▼';
}
#col
{
    display:flex;
    flex-direction:row;
}
.partitura_filters input[type="radio"]
{
    display:none;
}
.partitura_filters form
{
    width:100%;
    margin:0;
    display:flex;
    justify-content:flex-end;
}
.filter_type
{
    display:grid;
    grid-template-areas:"search_name submit_name ...  order_name"
                        "search_value submit_value ...  order_value";
    text-align:left;
    grid-template-columns:minmax(100px, 500px) 75px 10px 220px;
    margin:0 auto;
    width:100%;
    justify-content:center;
}

.filter_block
{
    display:contents;
}
.filter_name
{
    grid-row-start:1;
    color:var(--color2);;
    padding-bottom:5px;
}
.filter_value.tags
{
    background:var(--color4);
    border:1px solid var(--color3);
    border-radius:5px 0 0 5px;
}
.filter_name.search { grid-area:search_name; }
.filter_value.search { grid-area:search_value; }

.filter_name.submit { grid-area: submit_name; }
.filter_value.submit { grid-area:submit_value; }

.filter_name.order { grid-area:order_name; }
.filter_value.order { grid-area: order_value;}

.filter_type .filter_value>input, .filter_type .filter_value>button, .filter_type .filter_value>select
{
    position:relative;
    z-index:2;
    height:36px;
    width:100%;
    line-height:32px;
    background:#eee;
    box-sizing:border-box;
    padding:2px 10px;
    border-radius:0px 5px 5px 0px;
    border:1px solid var(--color3);
}
.filter_type .filter_value>select
{
    background:var(--color3);
    color:var(--color4);
}


.filter_type button[type="submit"]
{
    margin:0;
    cursor:pointer;
    background:var(--color3) url(../images/search.svg) center center no-repeat;
    background-size:auto 60%;
    font-size:0;
    color:var(--color4);
    white-space:nowrap;
}
.filter_type button[type="submit"]
{
    border-radius:0px 5px 5px 0;
    border:none;
    border-top:1px solid var(--color3);
    border-bottom:1px solid var(--color3);
}

.partitura_header
{
    display:flex;
    flex-shrink:0;
    flex-grow:0;
    width:100%;
    height:auto;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    border-bottom:1px solid var(--color7);
    color:var(--color3);
    background:var(--color7);
    padding:0px 15px 10px 15px;
    box-sizing:border-box;
}
.partitura_header_extra
{
    text-align:center;
    font-size:11px;
    display:flex;
    padding:0;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:auto;
}
.partitura_header_extra a
{
    margin:5px;
    padding:3px 10px;
    color:var(--color3);
}

.hidden
{
    display:none;
}
.tag_info
{
    padding:5px;
}
.filter_title
{
    width:30%;
}
.filter_name
{
    display:inline-block;
    padding-right:10px;
}
.partitura_cols
{
    display:grid;
    gap:20px;
    grid-template-columns:minmax(auto, 350px) 1fr;
    align-items:flex-start;
    justify-content:center;
    padding:0 40px;
}
.partitura_content
{
    display:flex;
    flex-direction:column;
    text-align:left;
    width:100%;
    margin-right:40px;
}
h2
{
    text-align:center;
    font-size:20px;
    margin-top:15px;
    margin-bottom:10px;
    background:var(--color2);
    padding:10px;
    color:var(--color6);
}
.recommendations h2
{
    margin:30px auto 20px auto;
    color:var(--color3);
    background:transparent;
    font-size:30px;
}
.recommendations_cta
{
    margin:30px 0;
    text-align:center;
}

.list
{
    text-align:left;
    max-width:800px;
    margin:0 auto 30px auto;
}
.list li
{
    margin:3px 10px;
    list-style:none;
    display:grid;
    grid-template-columns:1fr 80px;
}
.list li a
{
    display:block;
    background:var(--color2);
    padding:12px 15px;
    text-decoration:none;
}
.input_container,
.checkbox_container
{
    display:flex;
    max-width:800px;
    margin:20px auto;
    align-items:center;
}
#user_list_text
{
    min-height:120px;
}



/* Approx tablet */
@media all and (max-width: 1005px)
{
    .filter_type
    {
        display:grid;
        grid-template-areas:"search_name submit_name"
                            "search_value submit_value"
                            "order_name order_name"
                            "order_value order_value";
        text-align:left;
        grid-template-columns:80% 20%;
        margin:0 auto;
        width:100%;
        justify-content:center;
    }
    .filter_value.search {
        margin-bottom:10px;
    }
    .partitura_filters
    {
        #search
        {
            line-height:35px;
        }
        .filter_type button[type="submit"], .filter_type .filter_value select
        {
            height:35px;
            line-height:35px;
        }
    }
    header
    {
        grid-template-areas: "logo menu locales"
                             "search search   search ";
        padding:0 10px;
    }
    .welcome_message p
    {
        font-size:11.5px;
        letter-spacing:0.02em;
    }
    .list_container
    {
        grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    }
    .partitura_extra, .views
    {
        font-size:10px;
    }
    .partitura_cols
    {
        grid-template-columns: 1fr;
        padding:0;
    }
    .opened .menu
    {
        transform:translateX(0%);
    }
    .menu
    {
        display:flex;
        transform:translateX(-100%);
        transition:all 0.5s ease 0s;
        position:absolute;
        top:0;
        left:0;
        width:30%;
        min-width:275px;
        z-index:10;
        min-height:100vh;
        height:100%;
        padding:20px 10px;
        background:rgba(0,0,0,0.8);
        align-items:flex-start;
    }
    .menu-container
    {
        width:100%;
    }
    ul.menu-list
    {
        display:flex;
        padding:0;
        flex-direction:column;
    }
    ul.menu-list>li
    {
        max-width:100%;
    }
    .open_menu
    {
        position:absolute;
        top:0;
        right:10px;
        z-index:20;
        cursor:pointer;
        display:block;
        font-size:0;
        width:150px;
        height:170px;
        background:url(../images/menu.svg) 80% center no-repeat;
        background-size:60px;
    }
    ul.menu-list2
    {
        display:block;
        list-style:none;
        position:relative;
    }
    .partitura_tabs-links a,
    .list_buttons a
    {
        font-size:10px;
        padding:10px;
    }
    .partitura_content
    {
        display:contents;
    }
    .credito_iframe-container
    {
        order:4;
    }
}

/* Too small width for player */
@media all and (max-width: 600px)
{
    .partitura_cols
    {
        grid-template-columns: 1fr;
        padding:0;
    }
    .opened .menu
    {
        transform:translateX(0%);
    }
    .menu
    {
        display:flex;
        transform:translateX(-100%);
        transition:all 0.5s ease 0s;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        min-width:275px;
        z-index:10;
        min-height:100vh;
        height:100%;
        padding:20px 10px;
        background:rgba(0,0,0,0.8);
        align-items:flex-start;
    }
    .menu-container
    {
        width:100%;
    }
    ul.menu-list
    {
        display:flex;
        padding:0;
        flex-direction:column;
    }
    ul.menu-list>li
    {
        max-width:100%;
    }
    .open_menu
    {
        position:absolute;
        top:40px;
        right:40px;
        z-index:20;
        cursor:pointer;
        display:block;
        font-size:0;
        width:60px;
        height:60px;
        background:black url(../images/menu.svg) 50% center no-repeat;
        background-size:60px;
        .opened &
        {
            background:black url(../images/close.svg) 50% center no-repeat;
            background-size:30px;
        }
    }
    ul.menu-list2
    {
        display:block;
        list-style:none;
        position:relative;
    }
    .partitura_tabs-links a,
    .list_buttons a
    {
        font-size:10px;
        padding:10px;
    }
    .partitura_content
    {
        display:contents;
    }
    .credito_iframe-container
    {
        order:4;
    }
}

