.partitura_tabs
{
    width:100%;
}
.list_download
{
    margin-bottom:15px;
}
.list_title
{
    font-size:20px;
    text-align:center;
    padding:0px 0 5px 0;
    margin-bottom:0;
}
.list_title a
{
    text-decoration:none;
}
.list_pager
{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
    margin:auto;
    padding:38px 0;
    width:calc(100% - 80px);
}
.list_pager .previous_partitura,
.list_pager .next_partitura
{
    display:block;
    text-decoration:none;
    padding-top:20px;
    padding-bottom:20px;
    width:33%;
}
a.previous_partitura
{
    text-align:left;
    padding-left:60px;
    background:url(../images/prev.svg) center left no-repeat;
    background-size:auto 50px;
}
a.next_partitura
{
    text-align:right;
    padding-right:60px;
    background:url(../images/next.svg) center right no-repeat;
    background-size:auto 50px;
}
.list_add
{
    background:var(--color2);
    padding:30px;
}
.list_add .partitura_filters
{
    padding-bottom:0;
    margin-top:0;
}
.list_add .partitura_header
{
    background:var(--color4);
    padding:0 10px;
}
.list_add .partitura_item
{
    border:1px solid #989898;
    padding:10px;
    background:white;
    box-shadow:none;
}
.list_add .partitura_name
{
    text-align:left;
    cursor:pointer;
}
.list_add .partitura_image
{
    background-image:var(--image);
    opacity:0.5;
}


.list_add_info
{
    text-align:left;
    margin-top:40px;
}

.list_add_toggle
{
    display:none;
}
.btn_close
{
    display:none;
}
.list_add
{
    position:relative;
}
.list_add.opened .btn_open
{
    display:none;:
}
.list_add.opened .btn_close
{
    position:absolute;
    top:10px;
    right:10px;
    display:inline-block;
}
.list_container .partitura_move
{
    position:absolute;
    cursor: move;
    z-index:3;
    bottom:0px;
    left:0px;
    background:white url(../images/move.svg) center center no-repeat;
    background-size:50%;
    display:block;
    width:40px;
    height:40px;
    opacity:0.4;
    font-size:0;
}
.partitura_iframe
{
    padding:0;
    height:calc(100vh - 100px);

}
.list_container a.partitura_remove
{
    position:absolute;
    z-index:3;
    top:5px;
    right:5px;
    background:url(../images/delete.svg) center center no-repeat;
    background-size:80%;
    display:block;
    width:30px;
    height:30px;
    opacity:0.5;
}
.list_container a.partitura_remove:hover
{
    opacity:1;
}

.list_add.opened .list_add_toggle
{
    display:block;
}
.list_num
{
    display:block;
    color:var(--color5);
}

@media all and (max-width: 1005px)
{
    .partitura_tabs
    {
        grid-row-start:1;
        grid-row-end:2;
        grid-column-start:1;
        grid-column-end:3;
    }
}
@media all and (max-width: 760px)
{
    .list_pager
    {
        margin-top:15px;
        width:calc(100% - 10px);
    }
    .list_title
    {
        font-size:15px;
    }
    a.previous_partitura
    {
        padding-left:20px;
        background-size:auto 20px;
    }
    a.next_partitura
    {
        padding-right:20px;
        background-size:auto 20px;
    }
}

