
.musescore_tuto
{
    max-width:800px;
    margin:auto;
    padding:0 10px;
}
.musescore_tuto img
{
    max-width:100%;
}
.musescore_tuto h2
{
    margin:50px 0 20px 0;
}
p.with_image
{
    margin:20px 0;
}
.musescore_tuto hr
{
    border-color:#eee;
}
