{% if partitura.id %}
<form class="btn_delete_container" method="post" action="{{ path('partitura_delete', {'id': partitura.id}) }}" onsubmit="return confirm('Esta seguro de querrer borrar esta partitura?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partitura.id) }}">
    <button class="btn btn-delete">{% trans %}Delete{% endtrans %}</button>
</form>
{% endif %}
