{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit musicsheet{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="subtitle">{% trans %}Edit musicsheet{% endtrans %}</h1>


     {% form_theme form 'partitura/jquery.collection.html.twig' %}
    {{ form_start(form) }}

    <h1 class="subtitle">{{ form_widget(form.name) }}</h1>
    <h2 class="partitura_desc">{{ form_widget(form.text) }}</h2>
    <div class="partitura_cols">

        <div class="partitura_tabs">


            <div class="form_block">
            <label>{% trans %}Tags{% endtrans %}</label>
                {{ form_row(form.authors) }}
                {{ form_row(form.types) }}
                {{ form_row(form.instruments) }}
                {{ form_row(form.origins) }}
            </div>

            <div class="list_items form_block">
                <label>{% trans %}Audio Items{%endtrans %}</label>
                <p class="form_help">{% trans %}Upload audio intro{%endtrans %}</p>
                {{ form_widget(form.mp3s) }}
            </div>

            <div class="form_block">
            <label>{% trans %}Extra{% endtrans %}</label>
                {% if form.visible is defined %}
                    {{ form_row(form.visible) }}
                {% endif %}
                {% if form.created_at is defined %}
                    {{ form_row(form.created_at) }}
                {% endif %}
                {% if form.url is defined %}
                    {{ form_row(form.url) }}
                {% endif %}
                {{ form_row(form.creditoUrl) }}
                {{ form_row(form.validationComment) }}
            </div>

        </div>


        <div class="partitura_content">

            <ul class="partitura_tabs-links">
                <li class="pdf_tab" data-ref="0"><a rel="nofollow" data-rel="main" data-ref="0" class="main_tab_link selected" href="{{ vich_uploader_asset(partitura , 'musescoreFileFile') }}">{{ partitura.name }}</a></li>
                {% for pdf in partitura.partiturapdfs %}
                    <li class="pdf_tab pdf_tab_{{ loop.index}}" data-ref="{{loop.index}}"><a rel="nofollow" data-rel="spec_{{ loop.index }}" href="{{ vich_uploader_asset(pdf, 'pdfFile') }}">{{ pdf.name ? pdf.name :  pdf.instrumento.name }}</a></li>
                {% endfor %}
                <li class="pdf_tab" data-ref="new"><a rel="nofollow" data-rel="main" class="new_tab_link" href="">{% trans %}Upload new PDF{% endtrans %}</a></li>
            </ul>
            <div class="form_block partitura_content">
                <div class="partitura_iframe iframe_admin_preview">
                    <iframe loading="lazy" loading="lazy" src="{{ asset('js/pdf.js2/web/viewer.html') }}?scale=actual-size&file={{  vich_uploader_asset(partitura , 'musescoreFileFile') }}"></iframe>
                    <div class="list_pdfs">
                        <div class="pdf_item pdf_0" data-ref="0">
                            {{ form_row(form.musescoreFileFile) }}
                        </div>

                        {% for pdf in form.partiturapdfs %}
                        <div data-ref="{{ loop.index}} " class="pdf_item pdf_{{ loop.index }} hidden">
                            {{ form_widget(pdf) }}
                            <button class="btn btn-delete pdf_remove"></button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>


    </div>
    <div class="form_buttons">
        <button class="btn save">{% trans %}Save{% endtrans %}</button>
        <a class="btn" href="{{ partitura.url ? path('front_partitura_show', { url: partitura.url }) : '' }}">{% trans %}back{% endtrans %}</a>
    </div>

    <div style="display:none">
    {{ form(form) }}
    </div>

    {{ form_end(form) }}

    {{ form(pdfForm, { attr: { class:'template_pdf'}}) }}
    {{ include('partitura/_delete_form.html.twig') }}


    <br>
    <br>



<script src="{{ asset('js/jquery.js?' ~ asset_version) }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery.collection.js?' ~ asset_version) }}"></script>

<link href="{{ asset('css/select2.css?' ~ asset_version) }}" rel="stylesheet" type="text/css">
<script src="{{ asset('js/select2.js?' ~ asset_version) }}" type="text/javascript"></script>

<script src="{{ asset("js/tabs_edit.js?" ~ asset_version)}}"></script>

<link href="{{ asset('css/admin.css?' ~ asset_version) }}" rel="stylesheet" type="text/css">

<script>
    images_path="{{asset("images/") }}";
    pdf_viewer="{{ asset('js/pdf.js2/web/viewer.html') }}?file=";
</script>

<script type="text/javascript">
    function formatTag (state) {
        if (!state.id) {
            return state.text;
        }

        var baseUrl = "{{ asset("public/images") }}";
        var item  = state.element;
        var className = item.getAttribute('data-type');
        var $state = $(
                '<span class="tags_name">'+state.text+'</span>'
                //'<span class="btn '+className+'">'+state.text+'</span>'
                );

        return $state;
    };
    $("#partitura_authors, #partitura_types, #partitura_instruments, #partitura_origins").select2({
            templateSelection: formatTag,
            templateResult: formatTag,
    });
    $('#partitura_name').on('keyup', function()
    {
        $('.main_tab_link').text($(this).val());
    });

    $('.multiple').collection({
        up: '',
        down: '',
        prefix:'test',
        init_with_n_elements: 0,
        position_field_selector: '.my-position',
        add_at_the_end: true,
        add: '<button class="btn btn-add">{% trans %}Add{% endtrans %}</button>',
        remove: '<button class="btn btn-delete" title="{% trans %}Delete{% endtrans %}"></button>'
    });

    $('.sf_collection').on('change', 'input[type="file"]', function()
    {
        $(this).toggleClass('filled', $(this).val()!="");
    });
    $('.list_pdfs').on('change', 'input[type="file"]', function()
    {
        $(this).toggleClass('filled', $(this).val()!="");
    });
</script>

{% endblock %}

