{% extends 'base.html.twig' %}

{% block title %}{% trans %}My music sheets{% endtrans %}{% endblock %}

{% block body %}
<div class="frontend">

    <h1 class="subtitle">{% trans %}My favs{% endtrans %}</h1>


    <p class="last_added intro_text">{{ 'fav_intro'|trans }}</p>
    {% include 'front_partitura/list.html.twig' with { partituras: user_favs, hide_empty: true }  %}


</div>
{% endblock %}
