{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit link{% endtrans %}{% endblock %}

{% block body %}
<div class="centered_form">
    <h2 class="form_title">{% trans %}Edit link{% endtrans %}</h2>

    {{ include('links/_form.html.twig') }}

    {{ include('links/_delete_form.html.twig') }}
    <a href="{{ path('partitura_edit', { id: link.partitura.id }) }}">{% trans %}back{% endtrans %}</a>
</div>
{% endblock %}
