{% extends 'base.html.twig' %}

{% block title %}Edit Search{% endblock %}

{% block body %}
    <h1>Edit Search</h1>

    {{ include('search/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('search_index') }}">back to list</a>

    {{ include('search/_delete_form.html.twig') }}
{% endblock %}
