{% extends 'base.html.twig' %}

{% block title %}Search index{% endblock %}

{% block body %}
    <h1>Search index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Search</th>
                <th>Date</th>
                <th>Ip</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for search in searches %}
            <tr>
                <td>{{ search.id }}</td>
                <td>{{ search.search }}</td>
                <td>{{ search.date ? search.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ search.ip }}</td>
                <td>
                    <a href="{{ path('search_show', {'id': search.id}) }}">show</a>
                    <a href="{{ path('search_edit', {'id': search.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('search_new') }}">Create new</a>
{% endblock %}
