<form method="post" action="{{ path('partitura_pdf_delete', {'id': partitura_pdf.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partitura_pdf.id) }}">
    <button class="btn">{% trans %}Delete{% endtrans %}</button>
</form>
