{% extends 'base.html.twig' %}

{% block title %}Edit PartituraPdf{% endblock %}

{% block body %}
<div class="centered_form">
<h2 class="form_title">{% trans %}Edit PartituraPdf{% endtrans %}</h2>

    {{ include('partitura_pdf/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('partitura_edit', { id: partitura_pdf.partitura.id }) }}">{% trans %}back{% endtrans %}</a>

    {{ include('partitura_pdf/_delete_form.html.twig') }}
</div>
{% endblock %}
