{% extends 'base.html.twig' %}

{% block title %}PartituraPdf index{% endblock %}

{% block body %}
    <h1>PartituraPdf index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pdf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partitura_pdf in partitura_pdfs %}
            <tr>
                <td>{{ partitura_pdf.id }}</td>
                <td>{{ partitura_pdf.pdf }}</td>
                <td>
                    <a href="{{ path('partitura_pdf_show', {'id': partitura_pdf.id}) }}">show</a>
                    <a href="{{ path('partitura_pdf_edit', {'id': partitura_pdf.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
