{% extends 'base.html.twig' %}

{% block title %}{% trans %}Nuevo archivo PDF{% endtrans %}{% endblock %}

{% block body %}
<div class="centered_form">
<h2 class="form_title">{%trans %}Nuevo archivo PDF{% endtrans %}</h2>

    {{ include('partitura_pdf/_form.html.twig') }}

    <a href="{{ path('partitura_edit', { id: partitura_pdf.partitura.id }) }}">{%trans %}back{% endtrans %}</a>
</div>
{% endblock %}
