{% extends 'base.html.twig' %}

{% block title %}Edit TagText{% endblock %}

{% block body %}
    <h1 class="subtitle">Edit TagText</h1>

    {{ include('tag_text/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tag_edit', { id : tag_text.tag.id }) }}">back to list</a>

    {{ include('tag_text/_delete_form.html.twig') }}
{% endblock %}
