{% extends 'base.html.twig' %}

{% block title %}TagText index{% endblock %}

{% block body %}
    <h1 class="subtitle">TagText index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag_text in tag_texts %}
            <tr>
                <td>{{ tag_text.id }}</td>
                <td>{{ tag_text.text }}</td>
                <td>
                    <a href="{{ path('tag_text_show', {'id': tag_text.id}) }}">show</a>
                    <a href="{{ path('tag_text_edit', {'id': tag_text.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tag_text_new') }}">Create new</a>
{% endblock %}
