{% extends 'base.html.twig' %}

{% block title %}New TagText{% endblock %}

{% block body %}
    <h1 class="subtitle">Create new TagText</h1>

    {{ include('tag_text/_form.html.twig') }}

    <a href="{{ path('tag_text_index') }}">back to list</a>
{% endblock %}
