{% extends 'base.html.twig' %}

{% block title %}TagText{% endblock %}

{% block body %}
    <h1 class="subtitle">TagText</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag_text.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ tag_text.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tag_text_index') }}">back to list</a>

    <a href="{{ path('tag_text_edit', {'id': tag_text.id}) }}">edit</a>

    {{ include('tag_text/_delete_form.html.twig') }}
{% endblock %}
