<form method="post" action="{{ path('app_user_list_delete', {'id': user_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_list.id) }}">
    <button class="btn">{% trans %}Delete{% endtrans %}</button>
</form>
