{{ form_start(form) }}{% if not form.vars.valid %}
<ul>
    {# Loop through every form item #}
    {% for child in form.children %}
        {# Display the errors of the form item #}
        {%for error in child.vars.errors%}
            <li>{{error.message}}</li>
        {%endfor%}
    {%endfor%}
</ul>
{%endif%}

    {% if 'user' in form %}
    <div class="list_name input_container">
        <label>
        {% trans %}List user{% endtrans %}
        </label>
        {{ form_widget(form.user) }}
    </div>
    {% endif %}

    <div class="list_name input_container">
        <label>
        {% trans %}List name{% endtrans %}
        </label>
        {{ form_widget(form.name) }}
    </div>
    <div class="list_public checkbox_container">
        <label>
            {% trans %}List public{% endtrans %}
        </label>
        {{ form_widget(form.public) }}
        {{ form_help(form.public) }}
    </div>

    <div class="list_text input_container">
        <label>
        {% trans %}List text{% endtrans %}
        </label>
        {{ form_widget(form.text) }}
    </div>
    
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
