{% extends 'base.html.twig' %}

{% block title %}{% trans %}Lists{% endtrans %}{% endblock %}

{% block body %}
<div class="frontend">

    <h1 class="subtitle">{% trans %}Lists{% endtrans %}</h1>


    <p class="intro_text">{% trans %}Lists.welcome_text{% endtrans %}<br><br></p>

    <ul class="list">
    {% for item in user_lists %}
        <li>
        <li>
            <a href="{{ path('app_user_list_show', { user: item.user.id, name: item.name }) }}">
            {{ item.name }} ({{ item.userListPartituras|length }})
            </a>
                {% if is_granted('ROLE_ADMIN') or (user is defined and item.user == user)  %}
                <a href="{{ path('app_user_list_edit', { id: item.id }) }}">
                    {% trans %}Edit{% endtrans %}
                </a>
                {% endif %}
        </li>

    {% endfor %}
    </ul>

    <a class="btn" href="{{ path('app_user_list_new') }}">{% trans %}Create a new list{% endtrans %}</a>
</div>
{% endblock %}
