{% extends 'base.html.twig' %}

{% block title %}New UserList{% endblock %}

{% block body %}
<div class="frontend">
    <h1 class="subtitle">{% trans %}Create UserList{% endtrans %}</h1>

    {{ include('user_list/_form.html.twig') }}

    <a href="{{ path('app_user_list_public') }}">{% trans %}back{% endtrans %}</a>
</div>
{% endblock %}
