{% extends 'front.html.twig' %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("css/admin.css?" ~ asset_version)}}" />
<link type="text/css" rel="stylesheet" href="{{ asset("css/style.css?" ~ asset_version)}}" />
{% endblock %}
