<!DOCTYPE html>
<html lang="{{  app.request.locale|replace({'eus':'eu'}) }}">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.ico') }}">
        <meta name="viewport" content="width=device-width, user-scalable=yes">
        <title>{% block title %}{% endblock %} - {% trans %}Website name{% endtrans %}</title>
        <meta property="og:title" content="{{ block('title') }}"/>
        <meta property="og:image" content="{%block image %}https://partiturak.eus/images/bg.jpg{%endblock %}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("css/front.css?" ~ asset_version) }}" />
        {% block stylesheets %}{% endblock %}
        {% if description is defined and description is not empty %}
        <meta name="description" content="{{description}}" />
        {% else %}
        <meta name="description" content="{% trans %}welcome_title{% endtrans %}" />
        {% endif %}
        {% if keywords is defined %}
        <meta name="keywords" content="{{keywords}}" />
        {% endif %}
        {% if robots is defined %}
        <meta name="robots" content="{{robots}}" />
        {% endif %}

        {% set req = app.request %}
        {% for locale in ['eus','es','fr'] %}
        {% if locale != req.getLocale() %}
        <link rel="alternate" hreflang="{{ locale }}" href="{{
                   absolute_url(
                   path(
                   req.attributes.get('_route'),
                   req.attributes.get('_route_params')|merge({'_locale': locale})
                   )
                   ) }}" />
        {% endif %}
        {% endfor %}
    </head>
    <body>
        <div class="page">
            <header>
                    {% if req.attributes.get('_route') == 'front_partitura' %}
                    <h1 class="main_title"><a href="{{ path('front_partitura') }}">{% trans %}Website name{% endtrans %}</a></h1>
                    {% else %}
                    <div class="main_title"><a href="{{ path('front_partitura') }}">{% trans %}Website name{% endtrans %}</a></div>
                    {% endif %}


                {% block menu %}
                <button class="open_menu">{% trans %}Open menu{% endtrans %}</button>

                <nav class="menu">
                    <div class="menu-container">
                        <ul class="menu-list">
                            {% if is_granted('ROLE_ADMIN') %} 
                            <li>
                                <span>{% trans %}Administration{% endtrans %}</span>
                                        <ul class="menu-list2">
                                            <li>
                                                <a href="{{ path('user_index') }}">{% trans %}Admin Users{% endtrans %}</a>
                                            </li>
                                        </ul>
                            </li>
                            {% endif %}
                            <li class="{{
                                       app.request.get('_route') == 'front_partitura' or
                                       app.request.get('_route') == 'front_partitura_show' or
                                       app.request.get('_route') == 'by_type' or
                                       app.request.get('_route') == 'by_author' or
                                       app.request.get('_route') == 'by_instrument' or
                                       app.request.get('_route') == 'by_origin' or
                                       app.request.get('_route') == 'front_partitura_page'  ? 'selected'
                                       }}">
                                <a href="{{ path('front_partitura') }}">{% trans %}Hasiera{% endtrans %}</a>

                                <ul class="menu-list2">
                                    <li class="{{ app.request.get('_route') == 'search_partitura' ? 'selected' }}">
                                        <a href="{{ path('search_partitura') }}">{% trans %}All Musicsheets{% endtrans %}</a>
                                    </li>
                                    <li class="{{ app.request.get('_route') == 'by_type' ? 'selected' }}">
                                        <a href="{{ path('by_type') }}">{% trans %}By type{% endtrans %}</a>
                                    </li>
                                    <li class="{{ app.request.get('_route') == 'by_author' ? 'selected' }}" >
                                        <a href="{{ path('by_author') }}">{% trans %}By author{% endtrans %}</a>
                                    </li>
                                    <li class="{{ app.request.get('_route') == 'by_instrument' ? 'selected' }}">
                                        <a href="{{ path('by_instrument') }}">{% trans %}By instruments{% endtrans %}</a>
                                    </li>
                                    <li class="{{ app.request.get('_route') == 'by_origin' ? 'selected' }}">
                                        <a href="{{ path('by_origin') }}">{% trans %}By origin{% endtrans %}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="{{
                                       'app_user_list' in app.request.get('_route') ? 'selected'
                                       }}">
                                        <span>{% trans %}Groups{% endtrans %}</span>

                                        <ul class="menu-list2">
                                            <li class="{{ app.request.get('_route') == 'app_user_list_public' or app.request.get('_route') == 'app_user_list_show' or app.request.get('_route') == 'app_user_list_edit'  ? 'selected' }}">
                                                <a href="{{ path('app_user_list_public') }}">{% trans %}Public Lists{% endtrans %}</a>
                                            </li>
                                            {% if app.user %}
                                            <li class="{{ app.request.get('_route') == 'app_user_list_private' or app.request.get('_route') == 'app_user_list_show' or app.request.get('_route') == 'app_user_list_edit'  ? 'selected' }}">
                                                <a href="{{ path('app_user_list_private') }}">{% trans %}My Lists{% endtrans %}</a>
                                            </li>
                                            {% endif %}
                                            <li class="{{ app.request.get('_route') == 'app_user_list_liked' ? 'selected' }}">
                                                <a href="{{ path(app.user ? 'app_user_list_liked' : 'app_login') }}">{% trans %}Liked{% endtrans %}</a>
                                            </li>
                                        </ul>
                            </li>
                            {% if app.user %}
                            <li class="{{ app.request.get('_route') == 'partitura_index' ? 'selected' }}">
                                <a href="{{ path('partitura_index') }}">{% trans %}My account{% endtrans %}</a>
                                <ul class="menu-list2">
                                    <li class="{{ app.request.get('_route') == 'front_partitura_create' ? 'selected' }}">
                                        <a href="{{ path('front_partitura_create', { }) }}">
                                            {% trans %}Upload new Musicsheet{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="{{ app.request.get('_route') == 'app_logout' ? 'selected' }}" >
                                        <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="{{ app.request.get('_route') == 'app_login' ? 'selected' }}">
                                <a href="{{ path('app_login') }}">{% trans %}Login or register{% endtrans %}</a>
                                <ul class="menu-list2">
                                    <li class="{{ app.request.get('_route') == 'front_partitura_create' ? 'selected' }}">
                                        <a href="{{ path('front_partitura_create', { }) }}">
                                            {% trans %}Upload new Musicsheet{% endtrans %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}

                            <li class="{{ app.request.get('_route') == 'front_partitura_tuto4' ? 'selected' }}">
                                <a href="{{ path('front_partitura_tuto4') }}">{% trans %}Musescore tutorial{% endtrans %}</a>
                                <ul class="menu-list2">
                                    <li class="{{ app.request.get('_route') == 'front_partitura_tuto3' ? 'selected' }}">
                                        <a href="{{ path('front_partitura_tuto3', { }) }}">
                                            {% trans %}Musescore 3{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="{{ app.request.get('_route') == 'front_partitura_tuto4' ? 'selected' }}">
                                        <a href="{{ path('front_partitura_tuto4', { }) }}">
                                            {% trans %}Musescore 4{% endtrans %}
                                        </a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </nav>
                {% endblock %}

                {% if filter_form is defined and filter_form is not null %}
                {% form_theme filter_form 'form/filters.html.twig' %}
                <div class="partitura_filters">
                        {{ form_start(filter_form) }}
                        <div class="filter_type search_form">
                            <div class="filter_block">
                                <div class="filter_name search">{% trans %}Search{% endtrans %}</div>
                                <div class="filter_value search">
                                    {{ form_widget(filter_form.search) }}
                                </div>
                            </div>
                            <div class="filter_block">
                                <div class="filter_name submit">&nbsp;</div>
                                <div class="filter_value submit">
                                    {{ form_widget(filter_form.submit) }}
                                </div>
                            </div>
                            {% if filter_form.tags is defined %}
                                <div class="filter_block">
                                    <div class="filter_name tags">{% trans %}Tags{% endtrans %}</div>
                                    <div class="filter_value tags">
                                        {{ form_widget(filter_form.tags) }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if filter_form.col is defined %}
                                <div class="filter_block">
                                    <div class="filter_name order">{% trans %}Order by{% endtrans %}</div>
                                    <div class="filter_value order">
                                        {{ form_widget(filter_form.col) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {{ form_end(filter_form) }}
                </div>
                {% endif %}


                <ul class="locales">
                    {% for locale in ['eus','es','fr'] %}
                    <li> <a class="{{ locale != req.getLocale() ? '': 'current' }}" href="{{
                                   absolute_url(
                                   path(
                                   req.attributes.get('_route'),
                                   req.attributes.get('_route_params')|merge({'_locale': locale})
                                   )
                                   ) }}" aria-label="{% trans with { '%locale%' : locale } %}View webpage in %locale%{% endtrans %}">{{locale}}</a></li>
                    {% endfor %}
                </ul>
            </header>


            <main>
                <section class="container">
                    <div class="content">

                        {%  if with_leftnav is defined  %}
                        <div class="maincontent">
                            <div class="right_content">
                                {{ block('header')|raw }}
                                {{ block('body')|raw }}
                            </div>
                        </div>
                        {% else %}
                        <div class="maincontent">
                            {% block header %}{% endblock %}
                            {% block body %}
                            {% endblock %}
                        </div>
                        {% endif %}
                    </div>
                </section>
            </main>
            {% block javascripts %}{% endblock %}
            <script src="{{ asset("js/global.js?" ~ asset_version)}}"></script>
            <footer>
                <p class="footer_left">{% trans %}Website made with the free-softwares:{% endtrans %}
                <a href="https://symfony.com/">Symfony</a>,
                <a href="https://www.vim.org/">Vim</a>,
                <a href="https://www.musescore.org/">Musescore</a>
                -
                <a href="mailto:admin@partiturak.eus">{% trans %}contact{% endtrans %}</a>
                </p>
                <p class="footer_right">
                Code by <a href="https://tfe.eus">Tfe</a> -
                Logo / Icons by <a href="https://brenthisdesign.com">Brenthisdesign.com</a>
                - {% trans with {
                '%mastodon_link%' : '<a rel="me" href="https://mastodon.eus/@partiturak">Mastodon</a>'
                } %}Follow us on %mastodon_link%{% endtrans %}
                </p>
                <p>
                <a href="{{ path('front_partitura_rss', { }) }}">
                    {% trans %}RSS{% endtrans %}
                </a>
                </p>
            </footer>


        </div>
    </body>
</html>
