{% extends 'base.html.twig' %}

{% block title %}Edit UserFav{% endblock %}

{% block body %}
    <h1>Edit UserFav</h1>

    {{ include('user_fav/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_fav_index') }}">back to list</a>

    {{ include('user_fav/_delete_form.html.twig') }}
{% endblock %}
