{% extends 'base.html.twig' %}

{% block title %}UserFav index{% endblock %}

{% block body %}
    <h1>UserFav index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>user</th>
                <th>partitura</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_fav in user_favs %}
            <tr>
                <td>{{ user_fav.id }}</td>
                <td>{{ user_fav.user.name }} - {{ user_fav.user.email }}</td>
                <td>{{ user_fav.partitura.name }}</td>
                <td>
                    <a href="{{ path('user_fav_show', {'id': user_fav.id}) }}">show</a>
                    <a href="{{ path('user_fav_edit', {'id': user_fav.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_fav_new') }}">Create new</a>
{% endblock %}
