{% extends 'base.html.twig' %}

{% block title %}New UserFav{% endblock %}

{% block body %}
    <h1>Create new UserFav</h1>

    {{ include('user_fav/_form.html.twig') }}

    <a href="{{ path('user_fav_index') }}">back to list</a>
{% endblock %}
