{% extends 'base.html.twig' %}

{% block title %}UserFav{% endblock %}

{% block body %}
    <h1>UserFav</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_fav.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_fav_index') }}">back to list</a>

    <a href="{{ path('user_fav_edit', {'id': user_fav.id}) }}">edit</a>

    {{ include('user_fav/_delete_form.html.twig') }}
{% endblock %}
