{% extends 'base.html.twig' %}

{% block title %}Instrumento{% endblock %}

{% block body %}
    <h1 class="subtitle">Instrumento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instrumento.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ instrumento.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ instrumento.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('instrumento_index') }}">back to list</a>

    <a href="{{ path('instrumento_edit', {'id': instrumento.id}) }}">edit</a>

    {{ include('instrumento/_delete_form.html.twig') }}
{% endblock %}
