{% extends 'base.html.twig' %}

{% block title %}Comentario{% endblock %}

{% block body %}
    <h1>Comentario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentario.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ comentario.Text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comentario_index') }}">back to list</a>

    <a href="{{ path('comentario_edit', {'id': comentario.id}) }}">edit</a>

    {{ include('comentario/_delete_form.html.twig') }}
{% endblock %}
