{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="frontend">
    <h1 class="subtitle">Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
</div>
{% endblock %}
